.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    background-color: rgb(36, 56, 170);
}


.title h1{
    color: white;
}

.main h2{
    color: white;
}